<template>
    <div class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-3">Hello on weather app!</h1>
          <p class="title is-5">To start using the applications select the city name from the search engine at the top.</p>
          <p class="title is-5">You can also save the city to have faster access to it.</p>
          <p class="title is-3">Enjoy it.</p>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: 'Home',
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='sass' scoped>

.container
  background: rgba(255,255,255,.5)
  padding: 3rem 1rem

</style>
