<template>
    <div class='container' v-if='Object.keys(weatherData).length > 0'>
              <div class="columns has-text-centered">
                <div class="column ">
                  <h1 class="title has-text-centered ">
                    {{ weatherData.city.name }}
                  </h1>
                  <span class="subtitle">
                    {{ weatherData.city.country }}
                </span>
              </div>
              </div>
              <div class="columns has-text-right">
              <div class="column">
                <a @click='saveToLocalStorage' class="button custom-button has-icon-right">
                  <span>Save it</span>
                  <span class="icon">
                    <i class='wi wi-direction-right wi-fw'></i>
                  </span> 
                </a>
              </div>
              </div>         
            <div class="columns is-multiline">
            <div class='column is-4-desktop' 
                v-for='item in weatherData.list' 
                v-bind:key='item.data'  
                >
             <div class="panel">
             <div class="panel-heading has-text-centered white-color"> 
                <p class='content-span has-text-centered has-text-weight-semibold' :data-value="item.dt">
                    {{ item.dt | dateFilter }}
                </p>
                <p class="content-span has-text-centered">
                    {{ item.weather[0].description }}
            </p>
            </div>
          <div class="columns">
            <div class="column is-6 is-6-mobile">
              
              <p class="panel-block has-text-centered">
                <span class="icon icon-color is-large">
                  <i class="wi wi-thermometer"></i>
                </span> 
                <span class='content-span has-text-centered'>
                  {{ Math.round(item.main.temp - 273.15) }}&#8451;
                </span>
            </p>
              <p class="panel-block">
                <span class="icon icon-color is-large">
                  <i class="wi wi-windy"></i>
                </span> 
                <span class='content-span has-text-left'>
                  {{ item.wind.speed }} m/h
                </span>
              </p>
              <p class="panel-block">
                <span class="icon icon-color is-large">
                  <i class="wi wi-cloudy"></i>
                </span>
                <span class='content-span has-text-left'>
                  {{ item.clouds.all }} %
                </span>
              </p>
              <p class="panel-block has-text-left">
                <span class="icon icon-color is-large">
                  <i class="wi wi-barometer"></i>
                </span>
                <span class='content-span has-text-left'>
                  {{ Math.round(item.main.pressure) }} hPa
                </span>
            </p>
            </div>
            <div class="column is-6 is-6-mobile">
              <p class="panel-block" 

              >
<!--
v-if='item.rain 
              && item.rain.constructor === Object 
              && Object.keys(item.rain).length > 0'
  -->
                <span class="icon icon-color is-large">
                  <i class="wi wi-rain  "></i>
                </span>
                <span class='content-span has-text-left'>
                  {{ item.rain && item.rain['3h'] ?  `${round(item.rain['3h'])} mm`: 'none' }}
                </span>
            </p>
              <p class="panel-block">
                <span class="icon icon-color is-large">
                  <i class=" wi wi-snow "></i>
                </span>
                <span class='content-span has-text-left'>
                  {{ item.snow && item.snow['3h'] ? `${round(item.snow['3h'])} cm` : 'none' }}
                </span>
            </p>
              <p class="panel-block">
                <span class="icon icon-color is-large">
                  <i class="wi wi-humidity "></i>
                </span>
                <span class='content-span has-text-left'>
                  {{ item.main.humidity }}%
                </span>
            </p>
              
            </div>
          </div>
            </div> 
          </div>
          </div>
          </div>
      
</template>

<script>
/* eslint-disable */

export default {
  name: 'Main',
  props: ['weatherData'],
  data () {
    return {
      dataExist: false,
      
    }
  },
  methods: {
    saveToLocalStorage: function() {
      
      if(localStorage.getItem('citiesSaved') === null) {
        // if local storage exist
        let localStorageData = []
  
        localStorageData.push(this.weatherData.city.name)
        console.log(this.weatherData.city)
        localStorage.setItem('citiesSaved', JSON.stringify(localStorageData))
      } else {
          let localStorageData = JSON.parse(localStorage.getItem('citiesSaved'));
          if(localStorageData.length > 5) {
            localStorageData.length = 5
          }
          localStorageData.push(this.weatherData.city.name)
          localStorage.setItem('citiesSaved', JSON.stringify(localStorageData))
      }

    },
    round: (v) => (v && typeof v === 'number')? v.toFixed(2) : '0.00'
},
    filters: {
      dateFilter: (d) => new Date(d * 1e3).toISOString().slice(0, -5).replace(/T/g, ' '),
      //round: (v) => (v && typeof v === 'number')? v.toFixed(2) : '0.00'
  },
  computed: {
    
  }
    
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='sass' scoped> 

.title 
  color: #2c3e50
  font-weight: 700

.subtitle
  color: #2c3e50
  font-weight: 700

.panel
  border-radius: 16px
  box-shadow: 0px 0px 35px -10px rgba(0,0,0,0.29)

.panel-heading  
  font-weight: 500
  background: #E74C3C
  border: none
  box-shadow: 0px 0px 35px -10px rgba(0,0,0,0.29)
  .content-span
    padding-bottom: 1rem
    color: #FFFFFF

.content-span 
  color: #403C6B
.panel-block
  border: none
  font-size: 1.2rem
  

.wi
  font-size: 1.2rem
  padding-right: 1rem
  
.custom-button
  background: #34495e
  color: #fff !important
  border-radius: 24px
  &:hover
    background: #2c3e50
.icon-color 
  color: #E74C3C
</style>
