<template>
  <div class="container">
    <p class="title">{{message}}</p>
    <div class="columns">
      <div class="column"
      v-for='item in savedCities'
      v-bind:key='item'
      >
        <div class='button' @click='loadData'  :data-name="item">{{ item}}</div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */

export default {
  name: 'saved',
  props: [''],
  data () {
    return {
      savedCities: [],
      savedCitiesData: [],
      message: ''
    }
  },
  methods: {
      getLocalStorage: function() {
          if(localStorage.getItem('citiesSaved') === null) {
            this.message += 'Sorry, u dont have any saved cities.'
          } else {
            let data = JSON.parse(localStorage.getItem('citiesSaved'))
            this.savedCities = data
            this.message += 'Saved cities.'
          }
      },
      loadData: function (el) {
      let item = el.currentTarget.dataset.name
      this.$parent.getData(item)
      console.log(item)
    }
    },
    mounted(){
      this.getLocalStorage()
      
      console.log('work it')
    }
  }
</script>

<style lang='sass'>



</style>
