<template>
  <div id="app">
    <div class="contaier columns is-multiline has-text-centered">
      <div class="column is-12"><h1 class='title'>Weather app</h1></div>
    
    <div class="column is-12 has-text-right">
          <router-link class='button custom-button--light' to='saved'>saved</router-link>
    </div>
    </div>
    <div class='container has-text-centered'>
    
      <div class="columns">
        <div class="column has-text-centered">
          <div class="field" id='field'>
            <div class="control has-icons-right">
              <input class="search-input has-text-centered is-large has-text-weight-semibold input" type="text" placeholder="Find a city" v-model='search' v-on:keyup='filteredItems' >
              <span class="icon is-right " v-on:click.native='closeListSearch'>
                <i class="fa fa-search " v-bind:class="{ 'fa-search': !isActive, 'fa-times': isActive }"  ></i>
              </span>
              <ul 
                v-show='isActive'
                class='typehead-parent has-text-centered'>
                <li 
                    @click='getData'
                    @keyup.enter="getData"
                    v-for='item in searchTrueArray'
                    v-bind:key='item.data'
                    :data-cityname="item.name"
                    ref="item"
                    class='typehead-children '><router-link class='link-color' to='/main' id='link' tabindex="0">{{ item.name }}</router-link></li>
              </ul>
            </div>
          </div>
        </div>
    </div> </div> 
    
  
    <transition name="fade">
    <router-view class='s' :weatherData.sync="weatherData"/>
    </transition>
 
     
  <footer class="footer" >
    <div class="columns">
      <div class="column is-8">
        <p>
          Vue JS weather app base on openweather api.
        </p>
        <p><a class='footer-link' href="">Openweather</a></p>
        <p><a class='footer-link' href="">Axios</a></p>
        <p><a class='footer-link' href="">Bulma CSS</a></p>

      </div>
    </div>
  </footer>

</div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'

export default {
  name: 'app',
  data () {
    return {
      weatherData: {},
      city: '',
      cities: [],
      search: '',
      searchTrueArray: [],
      cityName: '',
      isActive: false,
      preloading: true
    }
  },
  methods: {
    closeListSearch: function() {
      this.isActive = false
      console.log('work it')
    },
    getData: function (el) {
      this.isActive = false
      var vm = this
      let cityName = el.currentTarget.getAttribute('data-cityname')
      this.search = cityName
      axios.get('https://api.openweathermap.org/data/2.5/forecast?id=524901&APPID=cf1b58fb03f937daa5519ede9e315043&q=' + cityName)
          .then(function (response) {
            vm.weatherData = response.data
            console.log(vm.weatherData)
          })
          .catch(function (error) {
            console.log(error)
          })
    },
    getCityName: function() {
      
    },
    loadCityList: function () {
      var vm = this
      axios.get('https://mateuszkawka.github.io/weather-app/src/current.city.list.min.json')
      .then(function (response) {
        vm.cities = response
        
        })
      .catch(function (error) {
        console.log(error)
        })
      },
      filteredItems: function() {
        this.isActive = true
        // clearing array
        this.searchTrueArray = [] 
        // filter by search
        this.cities.data.filter(item => {
          if(item.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1)
              this.searchTrueArray.unshift(item)
              
              // output max results
              if(this.searchTrueArray.length > 5) {
                this.searchTrueArray.length = 5
              }
          });
          
      },
      detectHideList: function(e) {
        if (document.getElementById('link').contains(e.target)){
          this.isActive = false
      }
      }
    },
  computed: {
     onSelect (value) {
      this.cityName = value
    },
    onChange (value) {
      this.value = value
    }
   },
   directives: {
      focus: {
      // directive definition
      inserted: function (el) {
        el.focus()
     }
  }
},
beforeMount(){
    
 },
 mounted() {
    () => this.preloading = false
    this.loadCityList()
 }
}
</script>

<style lang='sass'>
@import 'custom.sass'
body 

.bg
  position: absolute
  width: 100%
  height: 10%
 
.custom-button--light
  background: #e74c3c
  border-radius: 24px
  &:hover
    background: #c0392b

.field 
  padding-top: 3rem

.search-input
  border-radius: 3rem
  color: #E74C3C
  font-weight: 400

.icon
  position: relative
  z-index: 10 !important

.input
  padding-right: 0
.input:focus 
  border-color: #58557E
.typehead-parent
  width: 100%
.typehead-children
  border-radius: 24px
  margin-top: 4px
.link-color
  color: #2c3e50
  &:hover
    color: #c0392b

.footer-link
  color: #e74c3c
</style>
